nav{
   width: 20rem; 
}
ul{
    display: flex;
    justify-content: space-between;
}
li{
    list-style: none;
    font-size: 1.5rem;
}
a{
    text-decoration: none;
    color: black;
}
header h1{
    font-weight: 400;
}
header{
    display: flex;
    justify-content: space-between;
    margin: 0 3rem;
}
.showcase-img{
    width: 95vw;
    margin-bottom: 1rem;
    background-image: image-set();
    }
    footer{
        background-color: black;
           color:white;
           display: flex;
           justify-content: center;
           height: 4rem;
           align-items: center;
           font-size: 1.5rem;
    }